/* Class names prefixes */
$app-prefix:        'gjs-' !default;

/* Colors / Theme */

$mainColor:         #3b5998 !default;
$fontColor:         #657390 !default;
$whiteColor:        #ffffff !default;
$accentColor:       #FF8200 !default;
