/* Class names prefixes */
$app-prefix:        'gjs-' !default;

/* Colors / Theme */

$mainColor:         #3b5998 !default;
$fontColor:         #657390 !default;
$active-color:      #3b5998 !default;
$tag-color:         #3b5998 !default;
$bg-color:          #ffffff !default;
