@import "gjs_variables.scss";



.#{$app-prefix}one-bg{
  background-color: $whiteColor;
}

.#{$app-prefix}two-color{
  color: $fontColor;
}
.#{$app-prefix}blocks-c{
  background-color: #F2f2f2;
}

.#{$app-prefix}pn-commands, .#{$app-prefix}pn-views-container {
  box-shadow: none;
}

.#{$app-prefix}four-color {
  color: $accentColor;
}

.#{$app-prefix}color-warn {
  color: $accentColor;
  fill: $accentColor;
  text-decoration: line-through;
}

.#{$app-prefix}radio-item input:checked+.#{$app-prefix}radio-item-label {
  color: $whiteColor;
  background-color: $mainColor;
}

.#{$app-prefix}field-checkbox input:checked + .gjs-chk-icon {
  border-color: $mainColor;
}

.#{$app-prefix}field-arrow-d {
  border-top: 4px solid $mainColor;
}

.#{$app-prefix}field-arrow-u {
  border-bottom: 4px solid $mainColor;
}

.#{$app-prefix}clm-tags ##{$app-prefix}clm-new {
  color: $fontColor;
}

.#{$app-prefix}pn-commands, .#{$app-prefix}cv-canvas {
  width: 80%;
}

.#{$app-prefix}pn-views, .#{$app-prefix}pn-views-container {
  width: 20%;
  transition: all .2s ease-in;
}

.#{$app-prefix}pn-options {
  right: 20%
}

.#{$app-prefix}field-arrows {
  z-index: 9;
}

.#{$app-prefix}block.fa::before,
.#{$app-prefix}block.fa-solid::before,
.#{$app-prefix}block.fa-regular::before, 
.#{$app-prefix}block.fa-brands::before {
  display: block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 48px;
}
.#{$app-prefix}block.fa-regular::before, 
.#{$app-prefix}block.fa-brands::before{
  font-weight: 400;
}
.#{$app-prefix}block.fa-solid::before{
  font-weight: 900;
}

.#{$app-prefix}drag-helper {
  background-color: $mainColor !important;
}

.#{$app-prefix}selected {
	outline: 2px solid $mainColor !important;
}

.#{$app-prefix}highlighter {
	outline: 1px solid $mainColor !important;
}

*.#{$app-prefix}hover, div.#{$app-prefix}hover { 
  outline: 1px solid $mainColor;
}

.#{$app-prefix}badge, .#{$app-prefix}badge {
	background-color: $mainColor;
}

.#{$app-prefix}toolbar {
  background-color: $mainColor;
}

.#{$app-prefix}toolbar-items{
  text-align: center;
}

.#{$app-prefix}toolbar-item{
  padding: 7px;
}

.#{$app-prefix}resizer-h {
  border: 2px solid $mainColor;
}

.#{$app-prefix}clm-tags .#{$app-prefix}sm-title,
.#{$app-prefix}sm-sector .#{$app-prefix}sm-title {
  border-top: none;
  background-color: $whiteColor;
}

.#{$app-prefix}clm-tags .#{$app-prefix}clm-tag {
  background-color: $mainColor;
  border: none;
  box-shadow: none;
  padding: 5px 8px;
  text-shadow: none;
  color: $whiteColor;
}

.#{$app-prefix}field {
  color: $fontColor;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.#{$app-prefix}btnt.#{$app-prefix}pn-active,
.#{$app-prefix}pn-btn.#{$app-prefix}pn-active {
  box-shadow: none;
}

.#{$app-prefix}pn-btn:hover {
  color: $mainColor;
}

.#{$app-prefix}btnt.#{$app-prefix}pn-active,
.#{$app-prefix}color-active,
.#{$app-prefix}pn-btn.#{$app-prefix}pn-active,
.#{$app-prefix}pn-btn:active,
.#{$app-prefix}block:hover {
  color: $mainColor;
}

#gjs-rte-toolbar .#{$app-prefix}rte-btn,
.#{$app-prefix}btn-prim,
.#{$app-prefix}btnt,
.#{$app-prefix}clm-tags .#{$app-prefix}sm-composite.#{$app-prefix}clm-field,
.#{$app-prefix}clm-tags .#{$app-prefix}sm-field.#{$app-prefix}sm-composite,
.#{$app-prefix}clm-tags .#{$app-prefix}sm-stack #gjs-sm-add,
.#{$app-prefix}color-main,
.#{$app-prefix}mdl-dialog,
.#{$app-prefix}off-prv,
.#{$app-prefix}pn-btn,
.#{$app-prefix}pn-panel,
.#{$app-prefix}sm-sector .#{$app-prefix}sm-composite.#{$app-prefix}clm-field,
.#{$app-prefix}sm-sector .#{$app-prefix}sm-field.#{$app-prefix}sm-composite,
.#{$app-prefix}sm-sector .#{$app-prefix}sm-stack #gjs-sm-add {
  color: $fontColor;
}

#gjs-rte-toolbar,
.#{$app-prefix}bg-main,
.#{$app-prefix}clm-select option,
.#{$app-prefix}clm-tags .#{$app-prefix}sm-colorp-c,
.#{$app-prefix}editor,
.#{$app-prefix}mdl-dialog,
.#{$app-prefix}nv-item .#{$app-prefix}nv-title-c,
.#{$app-prefix}off-prv,
.#{$app-prefix}pn-panel,
.#{$app-prefix}block,
.#{$app-prefix}select option,
.#{$app-prefix}sm-sector .#{$app-prefix}sm-colorp-c,
.#{$app-prefix}sm-select option,
.#{$app-prefix}sm-unit option,
.sp-container
.sp-container button {
  color: $fontColor;
  background-color: $whiteColor;
}

.#{$app-prefix}ost-toolbar{
  display: none;
  position: absolute;
  background-color: $mainColor;
  white-space: nowrap;
  color: $whiteColor;
  z-index: 11;
  bottom: -26px;
  right: 0;
}

.#{$app-prefix}ost-toolbar.show{
  display: block;
  pointer-events: all;
}

.#{$app-prefix}ost-toolbar .#{$app-prefix}ost-toolbar-item{
  cursor: pointer;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 5px;
}
.#{$app-prefix}ost-toolbar .#{$app-prefix}ost-toolbar-item.disable{
  color: $white30;
  cursor: inherit;
}

.#{$app-prefix}sm-sector .#{$app-prefix}sm-field input,
.#{$app-prefix}clm-tags .#{$app-prefix}sm-field input,
.#{$app-prefix}sm-sector .#{$app-prefix}clm-field input,
.#{$app-prefix}clm-tags .#{$app-prefix}clm-field input,
.#{$app-prefix}sm-sector .#{$app-prefix}clm-select input,
.#{$app-prefix}clm-tags .#{$app-prefix}clm-select input,
.#{$app-prefix}sm-sector .#{$app-prefix}sm-field select,
.#{$app-prefix}clm-tags .#{$app-prefix}sm-field select,
.#{$app-prefix}sm-sector .#{$app-prefix}clm-field select,
.#{$app-prefix}clm-tags .#{$app-prefix}clm-field select,
.#{$app-prefix}sm-sector .#{$app-prefix}clm-select select,
.#{$app-prefix}clm-tags .#{$app-prefix}clm-select select {
  color: $fontColor;
  background-color: $whiteColor;
}

.#{$app-prefix}import-label,
.#{$app-prefix}export-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.#{$app-prefix}mdl-dialog .#{$app-prefix}btn-import {
  margin-top: 10px;
}

.CodeMirror {
  border-radius: 3px;
  height: 450px;
  font-family: sans-serif, monospace;
  letter-spacing: 0.3px;
  font-size: 12px;
}

/* Extra */
.#{$app-prefix}block {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 5px 2.5% 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow, color 0.2s ease 0s;
}

.#{$app-prefix}block:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
}

#gjs-pn-views-container.#{$app-prefix}pn-panel {
  padding: 39px 0 0;
}

#gjs-pn-views.#{$app-prefix}pn-panel {
  padding: 0;
  border: none;
}

#gjs-pn-views .#{$app-prefix}pn-btn {
  margin: 0;
  height: 40px;
  padding: 10px;
  width: 25%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#gjs-pn-views .#{$app-prefix}pn-active {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid $mainColor;
  border-radius: 0;
}

#gjs-pn-devices-c {
  padding-left: 30px;
}

#gjs-pn-options {
  padding-right: 30px;
}

.#{$app-prefix}pn-options {
  z-index: 4;
}

.#{$app-prefix}sm-composite .#{$app-prefix}sm-properties {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#gjs-sm-border-top-left-radius,
#gjs-sm-border-top-right-radius,
#gjs-sm-border-bottom-left-radius,
#gjs-sm-border-bottom-right-radius,
#gjs-sm-margin-top,
#gjs-sm-margin-bottom,
#gjs-sm-margin-right,
#gjs-sm-margin-left,
#gjs-sm-padding-top,
#gjs-sm-padding-bottom,
#gjs-sm-padding-right,
#gjs-sm-padding-left {
  flex: 999 1 60px;
}

#gjs-sm-border-width,
#gjs-sm-border-style,
#gjs-sm-border-color {
  flex: 999 1 80px;
}

#gjs-sm-margin-left,
#gjs-sm-padding-left {
  order: 2;
}

#gjs-sm-margin-right,
#gjs-sm-padding-right {
  order: 3;
}

#gjs-sm-margin-bottom,
#gjs-sm-padding-bottom {
  order: 4;
}

.#{$app-prefix}field-radio {
  width: 100%;
}

.#{$app-prefix}field-radio #gjs-sm-input-holder {
  display: flex;
}

.#{$app-prefix}radio-item {
  flex: 1 0 auto;
  text-align: center;
}

.#{$app-prefix}sm-sector .#{$app-prefix}sm-property.#{$app-prefix}sm-list {
  width: 50%;
}

.#{$app-prefix}mdl-content {
  border-top: none;
}

.#{$app-prefix}sm-sector .#{$app-prefix}sm-property .#{$app-prefix}sm-layer.#{$app-prefix}sm-active {
  background-color: rgba(255, 255, 255, 0.09);
}

.#{$app-prefix}f-button::before { content: 'B'; }
.#{$app-prefix}f-divider::before { content: 'D'; }

.#{$app-prefix}mdl-dialog-sm {
  width: 300px;
}

.#{$app-prefix}mdl-dialog form .#{$app-prefix}sm-property {
  font-size: 12px;
  margin-bottom: 15px;
}

.#{$app-prefix}mdl-dialog form .#{$app-prefix}sm-label {
  margin-bottom: 5px;
}

##{$app-prefix}clm-status-c {
  display: none;
}

.anim-spin {
  animation: 0.5s linear 0s normal none infinite running spin;
}

.form-status {
  float: right;
  font-size: 14px;
}

.text-danger {
  color: #f92929;
}
/* Alert Upload Modal */
#alert-msg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 401px;
  z-index: 990;
}
.alert-msg {
  position: absolute;
  background-color: #fff;
  top: 50px;
  left: 20%;
  width: 60%;
  min-width: 300px;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);

  .header {
    background-color: orange;
    color: #FFF;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    box-sizing: border-box;

    h3{ 
      margin: 0;

      span {
       margin-right: 10px;
      }
    }
  }
  .content {
    padding: 20px;
    box-sizing: border-box;
  
    .files {
      overflow-y: auto;
      margin: 15px 0;
      
      ul {
        margin: 5px;
        padding: 0 0 0 15px;

        ::marker {
          content: '\00d7 ';
        }

        li{
          padding-left: 5px;
        }
      }
    }
    strong{
      font-weight: bold;
    }
    button.ok{
      margin: 15px auto;
      display: flex;
      background-color: #FFF;
      padding: 5px 15px;
      text-transform: uppercase;
      color: currentColor;
      border: none;
      font-weight: normal;
      font-size: 1.1rem;
      cursor: pointer;
      
      &:hover{
       background-color: #DFDFDF;
      }
    }
  }
}

/* Ostendis Block Traits */
.#{$app-prefix}trt-trait__wrp-data-ost-type {
  background: rgba(255, 130, 0, 0.4);
}

/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}